#charts{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.chart-container{
    width: 400px;
    height: 380px;

    background-color: var(--thirdColor);
    border-radius: 10px;
    color: white !important;
}
.chart-container tspan{
    color: red;
}
