.Category {
  width: 100%;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.category-container{
  width: 650px;
}
.category-banner-sec {
  width: 100%;
  height: 300px;
  margin: 20px 0px;
}
.category-banner {
  background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 300px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.category-banner span{
  margin-right: 10px;
}
@media only screen and (max-width: 600px) {
  .category-container{
    width: 100%;
    padding: 15px;
  }
  .category-banner{
    height: 280px;
  }
  .category-banner-div{
    transform: scale(.85);
  }
  .category-banner-sec{
    margin: 0px;
  }
}