.Sidebar{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    z-index: 91;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.315);
    backdrop-filter: blur(3px);
    transition: .1s;
    
}
.side-container{
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    z-index: 95;
    position: absolute;
    transition: .3s;
}
.side-header{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
.side-header h2{
    padding-right: 30px;
}
.side-list-item{
    height: 60px;
    padding-left: 15px;
    font-size: 1rem;
    display: flex;
    font-weight: 550;
    align-items: center;
    color: rgba(128, 128, 128, 0.5);
    border-radius: 20px;
    cursor: pointer;
    margin-top: 5px;
    transition: .2s;
}
.side-list-item.selected{
    color: var(--thirdColor);
    font-weight: 560;
    background-color: rgba(0, 0, 0, 0.05);
}
.side-list-item:hover{
    background-color: rgba(0, 0, 0, 0.03);
    color: var(--thirdColor);
    opacity: 85%;
}
.side-list-item.selected:hover{
    opacity: 100%;
}
.side-list-item.logout{
    color: var(--firstColor);
    position: absolute;
    bottom: 10px;
    width: 260px;
    display: flex;
    padding-left: 0px;
    padding-right: 15px;
    justify-content: space-between;
}
.side-list-item.logout:hover{
    background-color: rgba(252, 29, 0, 1);
    color: white;
}
.side-list-icon{
    font-size: 1.5rem;
}
.side-list-item span{
    padding-left: 20px;
}
.side-list-header{
    margin-top: 50px;
    font-size: 1.1rem;
    font-weight: bolder;
    color: var(--firstColor) ;
    margin-bottom: 15px;
}
.side-balance{
    width: 100%;
    height: 100%;
}
