.list-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.list-container>div{
    width: 100%;
}

.list-items{
    padding: 10px 0px;
}
.list-items caption{
    color: rgba(128, 128, 128, 0.514);
    margin: 15px 0px;
    font-size: .8rem;
    width: 80px;
}
.list-item{
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.list-logo{
    width: 55px;
    height: 55px;
    background-color: #eeebf7;
    color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 10px;
}
.list-desc, .list-amount-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85%;
}
.list-desc{
    width: 75%;
    padding-left: 20px;
}
.list-amount-details{
    width: 150px;
    padding-right: 20px;
    align-items: flex-end;
}
.list-desc span, .list-amount-details span{
    font-size: .8rem;
    color: grey;
}
.list-item-amount{
    font-size: .85rem;
    display: flex;
    align-items: flex-start;
}
.list-item-amount b{
    font-size: 1rem;
}
.list-category-icon{
    font-size: 1.6rem;
}
.list-category-icon.food{
    color: rgb(255, 115, 0);
}
.list-category-icon.entertainment{
    color: rgb(1, 9, 107);
}
.list-category-icon.rent{
    color: rgb(0, 128, 57);
}
.list-category-icon.emi{
    color: rgb(100, 128, 1);
}
.list-category-icon.transport{
    color: brown;
}
.list-category-icon.other{
    color: #303030;
}
.list-category-icon.shopping{
    color: rgb(0, 132, 255);
}
@media only screen and (max-width: 600px) {
    .SpendList{
        padding-top: 70px;
    }
    .list-container{
        width: 100%;
        padding: 0px 15px;
    }
    .list-header{
        top: 55px;
        padding-left: 15px;
    }
    .list-desc{
        width: 60%;
    }
}