.Login{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.Login>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-img{
    background-color: var(--mainColor);
    flex: 70%;
}
.login-img img{
    height: 75%;
}
.login-section{
    flex: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.redirect-login{
    text-decoration: none;
    color: var(--thirdColor);
}
.login-container>div{
    width: 320px;
}
.login-header{
    margin: 50px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--mainColor);
}
.login-header h2{
    max-width: 200px;
}
.login-input input, .login-btn button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: #eef2f3;
    border-radius: 10px;
}
.login-input input{
    padding-left: 10px;
}
.login-caption{
    margin: 10px 0px;
    font-size: .9rem;
}
.login-caption span{
    width: 100px;
}
.login-btn{
    margin: 30px 0px;
}
.login-btn button{
    background-color: var(--mainColor);
    color: white;
}
.login-btn button:disabled{
    opacity: 75%;
}
@media only screen and (max-width: 600px) {
    .Login{
        flex-direction: column;
    }
    .login-img{
        flex: 60%;
        max-height: 45vh;
    }
    .login-img img{
        height: 90%;
    }
    .login-section{
        flex: 40%;
    }

}